.buttonCerrar
{
      background: red;
      border-color:transparent;
      color:black; 
      top:0%;
      right: 0%;
      margin: auto;
}

.titReg
{
 color: black;
}

.contenedor-inputs
{
      padding: 10px 30px;
      justify-content: space-between;
      width: 100%;
      
}

.form-Reg
{
      color: black;
      width: 100%;
      margin-bottom: 10px;
}
.btn_Registrar
{
      background: black;
      color:white;
      margin: auto;
      cursor: hover;
      padding: 10px;
}
